$gap-width: 24px;

.display {
  padding: 0 ((360px - ($gap-width/2))/1920px) * 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__flex-box {
    margin: 0 $gap-width/2;
  }
}
