.icon-list {
  display: flex;

  .icon {
    display: block;
    margin: 0 8px;
  }
  a:first-child {
    .icon {
      margin-left: 0 !important;
    }
  }

  a:last-child {
    .icon {
      margin-right: 0 !important;
    }
  }
}
