@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");

.roboto {
  &-black {
    font-family: "Roboto";
    font-weight: 900;
  }

  &-bold {
    font-family: "Roboto";
    font-weight: 700;
  }

  &-medium {
    font-family: "Roboto";
    font-weight: 500;
  }
}

.main-title {
  font-size: 80px;
  line-height: 94px;
}

.title {
  font-size: 64px;
  line-height: 75px;
}

.sub-title {
  font-size: 24px;
  line-height: 42px;
}

.description {
  font-size: 24px;
  line-height: 1.5;
  &:lang(zh-TW) {
    font-size: 20px;
    line-height: 1.5;
  }
}
