.brand {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 64px;
  padding-bottom: 120px;

  &__sub-title {
    @extend .sub-title;
    margin-bottom: 32px;
  }

  &__description {
    @extend .description;
    margin-bottom: 68px;
  }

  &__display {
    @extend .display;
    img {
      margin-bottom: 40px;
    }
  }
}
