.brand {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 64px;
  padding-bottom: 120px;

  .sub-title {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 68px;
  }

  img {
    margin-bottom: 40px;
  }
}
