.footer {
  background-color: black;
  color: white;
  text-align: center;

  padding-top: 64px;
  padding-bottom: 80px;
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: grey;
    }
  }

  .title,
  p {
    padding-bottom: 16px;
  }
}
