.works {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 160px;

  &__title {
    @extend .title;
    margin-bottom: 24px;
  }

  &__description {
    @extend .description;
    margin-bottom: 56px;
  }

  &__display {
    @extend .display;
    .description {
      margin-bottom: 16px;
    }
  }
}
